.container#mapContainer {
  border: 1px solid black;
  width: 110px;
  margin-right: 0;
  margin-left: 0;
  margin-top: 2px;
}

.mapRow {
  --bs-gutter-x: 1.5rem;
  justify-content: center;
}

#currentBudget {
  width: fit-content;
  right: 0;
  position: fixed;
}
